html {
  /*
    box-shadow: inset 0px 0px 40px 6px rgba(15,15,15,0.64) ;
    height: 100%;
    */
  /* BVAmbient Style */
}

html body {
  padding: 0;
  margin: 1%;
  background: #002b36;
  color: #eee8d5;
  text-shadow: 0 0 0.3vw #ffffff59;
  font-size: 42px;
}

html body .section {
  position: relative;
}

html body span {
  color: lime;
}

html body p {
  margin: 0;
}

html body #weather-area {
  margin-bottom: 20px;
}

html body #weather-area img {
  -webkit-filter: drop-shadow(2px 2px 5px #80808049);
          filter: drop-shadow(2px 2px 5px #80808049);
}

html body #name {
  font-size: 4rem;
  background: none;
  border: none;
  width: 100%;
  color: white;
}

html body #spotify-area {
  background-color: #191414;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 50px;
}

html body #color-settings {
  font-size: 20px;
  z-index: 100;
}

html body #color-settings .setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 10px;
}

html body #color-settings .setting label {
  margin-right: 10px;
}

html body #color-settings .setting input {
  height: 40px;
  width: 40px;
}

html body #news {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

@media (max-width: 1200px) {
  html body #news {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

html body #news .grid-item {
  max-width: 100%;
  height: 100%;
}

html body #news .grid-item:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html body #news .grid-item .card {
  text-decoration: none;
  height: 100%;
  border-radius: 10px;
  background: #ffffff;
  border: none;
  -webkit-box-shadow: 0px 2px 15px 0px #80808026;
          box-shadow: 0px 2px 15px 0px #80808026;
}

html body #news .grid-item .card img {
  border-radius: 10px;
  width: 100%;
}

html body #news .grid-item .card .bottom {
  padding: 10px 15px;
  height: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body #news .grid-item .card .title {
  font-size: 14px;
}

html body #news .grid-item .card .source {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

html #Category-Option {
  background: none;
  border: 3px solid black;
  padding: 5px 0px;
  margin: 0px 0px 20px 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 24px;
}

html #google-area {
  position: relative;
}

html #google-area #google-search {
  font-size: 24px;
  border: none;
  border-radius: 40px;
  padding: 4px 24px;
  width: 100%;
  margin-top: 80px;
  -webkit-box-shadow: 0px 2px 15px 0px #80808026;
          box-shadow: 0px 2px 15px 0px #80808026;
}

html #google-area .fa-search {
  position: absolute;
  right: 14px;
  bottom: 15px;
  font-size: 22px;
  color: #333;
  cursor: pointer;
}

html #currencystats #user-drop {
  border-bottom: 1px solid;
}

html #currencystats #user-drop i {
  font-size: 24px;
}

html #currencystats ul {
  background-color: rgba(0, 0, 0, 0.473);
  font-size: 12px;
  list-style: none;
  padding: 2px 3px;
}

html #currencystats ul li {
  border-bottom: 1px solid gray;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  padding: 2px 4px;
}

html #currencystats ul li p {
  padding-left: 5px;
}

html #currencystats ul li:not(:first-child) p {
  margin: 0;
  border-right: 1px solid gray;
  text-transform: capitalize;
}

html #currencystats ul li:not(:first-child) p:last-child {
  border: none;
  color: lawngreen;
}

html #currencystats ul li:not(:first-child) p:first-child {
  font-size: 14px;
}

html .text-right {
  text-align: right;
}

html a:link, html a:active {
  text-decoration: none;
  color: black;
}

html div[class^="col-"] {
  margin-bottom: 30px;
}

html .bvambient_particle {
  position: absolute;
  pointer-events: none;
  -webkit-transition: top linear, left linear;
  transition: top linear, left linear;
}

html #ambient {
  top: 0;
  left: 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

html #todo {
  background: #ffffff08;
  border-radius: 10px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 2px 15px 0px #80808026;
          box-shadow: 0px 2px 15px 0px #80808026;
}

html #todo .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-bottom: 3px solid black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  cursor: pointer;
}

html #todo .newItem .item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 16px;
  padding: 10px 20px;
}

html #todo .newItem .item-row input {
  background: none;
  border: none;
  padding: 10px;
}

html #todo .newItem .item-row input.item-important {
  margin: 10px;
}

html #todo .newItem .item-row input.item-name {
  min-width: 50px;
}

html #todo .newItem .item-row input.item-dueDate {
  min-width: 150px;
}

html #todo .newItem .item-row input.item-done {
  margin-right: 10px;
}

html #todo .list-area .item-row {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 20px;
  position: relative;
  min-height: 62px;
}

html #todo .list-area .item-row p {
  margin: 0;
}

html #todo .list-area .item-row p:nth-child(3) {
  text-align: center;
  font-size: 32px;
  position: absolute;
  right: 60px;
}

html #todo .list-area .item-row p:last-child {
  text-align: center;
  font-size: 32px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

html #todo .list-area .item-row p:first-child {
  font-weight: 500;
}

html #todo .clear-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-top: 3px solid black;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 16px;
  cursor: pointer;
}

html #todo .clear-list i {
  margin-left: 20px;
}

html .line-through {
  text-decoration: line-through;
}

html .loading {
  display: block;
  background: #f6f6f636;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #F6F6F636), color-stop(18%, #F0F0F036), color-stop(33%, #F6F6F636));
  background: linear-gradient(to right, #F6F6F636 8%, #F0F0F036 18%, #F6F6F636 33%);
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
          animation: gradient 3s ease infinite;
  min-height: 30px;
  border-radius: 8px;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*
body::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 43, 54, 0.1) 50%);
    z-index: 2;
    background-size: 100% 3px, 3px 100%;
    pointer-events: none;
}
*/
/*# sourceMappingURL=style.css.map */