$shadow: 0px 2px 15px 0px #80808026;

:root{
    --accent: #333;
    --font:#333;
    --background:#333;
}
html{
    /*
    box-shadow: inset 0px 0px 40px 6px rgba(15,15,15,0.64) ;
    height: 100%;
    */
    main{
        display: none;
        @media (max-width : 900px) {
            margin-left: 50px;
        }
    }

    body{
        padding: 0;
        margin: 1%;
        background: #002b36;
        color: #eee8d5;
        text-shadow: 0 0 0.3vw #ffffff59;
        //font-family: monospace;
        font-size:42px;

        .section{
            position: relative;
        }
    
        span{
            color: lime;
        }

        p{
            margin: 0;
        }

        #weather-area{
            margin-bottom:20px;
            img{
                filter: drop-shadow(2px 2px 5px #80808049);
            }
        }

        #name{
            font-size: 4rem;
            background: none;
            border: none;
            width: 100%;
            color: white;
        }

        #spotify-area{
            background-color: #191414;
            width: 100%;
            height: 100%;
            border-radius: 50px;
            padding: 50px;
        }


        #color-settings{
            font-size: 20px;
            z-index: 100;

            .setting{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;

                label{
                    margin-right:10px;
                }

                input{
                    height: 40px;
                    width: 40px;
                }
            }

            
        }

        #info-settings{
            font-size: 20px;
            z-index: 100;

            .setting{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
            }


        }

        #news{
            display: grid;
            width: 100%;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 20px;

            @media (max-width:1200px) {
                grid-template-columns: repeat(1,1fr);
            }

            .grid-item{
                max-width: 100%;
                height: 100%;

                &:hover{
                    transform: scale(1.01);
                    transition: 0.2s;

                }
                

                .card{

                    text-decoration: none;
                    height: 100%;
                    border-radius: 10px;
                    background: #ffffff;
                    border: none;
                    box-shadow: $shadow;

                    img{
                        border-radius: 10px;
                        width:100%
                    }
    
                    .bottom{
                        padding: 10px 15px;
                        height: 100%;
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }

                        .title{
                            font-size: 14px;
                        }
                        .source{
                            font-size: 16px;
                            font-weight: bold;
                            margin: 0;
                        }
                    }
                }
            }  
        }

        #Category-Option{
            background: none;
            border: 3px solid black;
            padding: 5px 0px;
            margin: 0px 0px 20px 0px;
            border-top: none;
            border-left: none;
            border-right: none;
            font-size: 24px;
        }

        #google-area{
            position: relative;
            
            #google-search{
                font-size: 24px;
                border: none;
                border-radius: 40px;
                padding: 4px 24px;
                width: 100%;
                margin-top: 80px;
                box-shadow: $shadow;
                
            }
            .fa-search{
                position: absolute;
                right: 14px;
                bottom: 15px;
                font-size: 22px;
                color: #333;
                cursor: pointer;
            }
            

        }

        #currencystats{

            #user-drop{
                border-bottom: 1px solid;

                i{
                    font-size: 24px;
                }
            }

            ul{
                background-color: rgba(0, 0, 0, 0.473);
                font-size: 12px;
                list-style: none;
                padding: 2px 3px;

                li{
                    border-bottom: 1px solid gray;
                    display: grid;
                    grid-template-columns:repeat(5,1fr);
                    padding: 2px 4px;

                    p{
                        padding-left: 5px;
                    }
                }

                li:not(:first-child){

                    p{
                        margin: 0;
                        border-right: 1px solid gray;
                        text-transform: capitalize;

                        &:last-child{
                            border:none;
                            color: lawngreen;
                        }

                        &:first-child{
                            font-size: 14px;
                        }
                    }
                }
            }
            
        }

        #sidebar{
            position: fixed;
            top:0;
            left:0;
            height: 100vh;
            background-color: rgba(37, 37, 37, 0.596);
            width: 50px;
            z-index: 100;
            box-shadow: 5px 0px 10px 0px #24242473;

            .options{
                display: flex;
                flex-direction: column;
                align-items: center;

                .option{
                    font-size: 26px;
                    padding: 14px 0;
                    color: var(--font);
                    background-clip: text;
                    text-shadow: 0px 3px 3px #4c4c4c4a;
                    cursor: pointer;
                    transition: 0.2s;

                    &:after{
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background: var(--accent);
                        margin: 10px 0;
                        -webkit-transition: width .2s ease-in;
                        transition: width .2s ease-in;
                    }
                    &:hover:after {
                        width: 100%;
                    }
                }
            }

            .settings{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                bottom:0;
                width: 100%;

                i{
                    font-size: 26px;
                    padding-top: 14px;
                    color: var(--font);
                    background-clip: text;
                    text-shadow: 0px 3px 3px #4c4c4c4a;
                    cursor: pointer;
                    transition: 0.2s;

                    &:after{
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background: var(--accent);
                        margin: 10px 0;
                        -webkit-transition: width .2s ease-in;
                        transition: width .2s ease-in;
                    }
                    &:hover:after {
                        width: 100%;
                    }
                }

            }
        }

        #settingsmenu{
            position: fixed;
            top:0;
            left: 50px;
            width:0px; 
            height: 100vh;
            visibility: hidden;
            background-color: rgba(255, 255, 255, 0.952);
            z-index: 100;
            padding: 10%;

            &.active{
                visibility: visible;
                width: calc(100vw - 50px);
                transition: 0.2s;
            }

            h2{
                border-left: 2px solid var(--accent);
                padding-left: 10px;
            }

            #theme{
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .item{
                    position: relative;
                    height: 50px;

                    &:first-child{
                        margin-left:0px;
                    }

                    &:last-child{
                        margin-right: 0px;
                    }

                    &.active{
                        box-shadow: 0px 20px 0px -10px var(--background), 0px -20px 0px -10px var(--background), 20px 0px 0px -10px var(--background), -20px 0px 0px -10px var(--background), 0px 0px 0px 10px var(--accent), 5px 5px 15px 5px rgba(0,0,0,0);
                    }

                    span{
                        width: 86px;
                        padding: 12px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        
                        i, svg{
                            max-width: 50px;
                            height: auto;
                        }

                    }

                    input{
                        margin-top: 20px;
                        font-size: 14px;
                        position: absolute;
                        right: 10px;
                        top: 10px;

                        &[type=file] {
                            right: 30px;
                            top: 2px;
                        }
                    }
                    p{
                        font-size: 16px;
                        padding-top: 10px;
                        position: absolute;
                        left: 100px;
                        top: 10px;
                    }
                }
                
            }
        }

        #bookmarks{
            .bookmarks{
                display: grid;
                grid-template-columns: repeat(4, 25%);

                @media (max-width:1000px){
                    grid-template-columns: repeat(3, 33%);
                }

                .add-bookmark{
                    font-size: 12px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    margin: auto;
                    cursor: pointer;
                    i{
                        padding-left: 5px;
                        font-size: 32px;
                    }
                }

                .bookmark{
                    display: flex;
                    flex-direction: column;
                    margin: 10px 4px;
                    position: relative;

                    img{
                        width: 32px;
                        border-radius: 100%;
                    }

                    a{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 12px;
                        color: var(--font);
                        text-transform: capitalize;
                    }
                    i{
                        position: absolute;
                        right: 0;
                        top: 0;
                        font-size: 14px;
                        visibility: hidden;
                    }

                    &:hover{
                        i{
                            visibility: visible;
                            cursor: pointer;
                        }
                    }

                    
                }
            }
        }

        .text-right{
            text-align: right;
        }

        a:link, a:active{
            text-decoration: none;
            color: black;
        }

        div[class^="col-"]{
            margin-bottom: 30px;
        }

        /* BVAmbient Style */
        .bvambient_particle
        {
            position: absolute;
            pointer-events: none;
            transition: top linear, left linear;
        }

        #ambient{
            top: 0;
            left:0;
            filter: blur(2px);
            display: none;
            position: fixed !important;
        }

        #bgImage{
            position: fixed;
            z-index: 0;
            top: 0;
            left:0;
            filter: blur(2px);
            height: 100vh;
            width: 100%;
            object-fit: cover;
        }

        #todo{
            background: #ffffff08;
            border-radius: 10px;
            margin-top: 20px;
            box-shadow: $shadow;

            .header{
                display: flex;
                align-items: center;
                padding: 20px;
                border-bottom: 3px solid black;
                justify-content: space-between;
                font-size: 24px;
                cursor: pointer;
                
            }

            .newItem{
                

                .item-row{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    font-size: 16px;
                    padding: 10px 20px;

                    input{
                        background:none;
                        border: none;
                        padding: 10px;

                        &.item-important{
                            margin: 10px;
                        }

                        &.item-name{
                            min-width: 50px;
                        }

                        &.item-dueDate{
                            min-width: 150px;
                            
                        }

                        &.item-done{
                            margin-right: 10px;
                        }
                    }

                }

                
            }

            .list-area{

                .item-row{
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction:column;
                    align-content: center;
                    align-items: flex-start;
                    padding: 10px 20px;
                    position: relative;
                    min-height: 62px;

                    p{
                        margin: 0;

                        &:nth-child(3){
                            text-align: center;
                            font-size: 32px;
                            position: absolute;
                            right: 60px;
                        }

                        &:last-child{
                            text-align: center;
                            font-size: 32px;
                            position: absolute;
                            right: 20px;
                            cursor: pointer;
                        }

                        &:first-child{
                            font-weight: 500;
                        }
                    }
                }
            }

            .clear-list{
                display: flex;
                align-items: center;
                padding: 20px;
                border-top: 3px solid var(--accent);
                justify-content: flex-end;
                font-size: 16px;
                cursor: pointer;

                i{
                    margin-left:20px;
                }
            }
        }

        .line-through{
            text-decoration: line-through;
        }

        .loading{
            display:block;
            background: #f6f6f636;
          background: linear-gradient(to right, #F6F6F636 8%, #F0F0F036 18%, #F6F6F636 33%);
            background-size: 400% 400%;
            animation: gradient 3s ease infinite;
            min-height:30px;
            border-radius:8px;
        }
        
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        

    }



/*
body::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 43, 54, 0.1) 50%);
    z-index: 2;
    background-size: 100% 3px, 3px 100%;
    pointer-events: none;
}
*/